@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root{
  height: 100%;
  direction: rtl;
}


.logoHd{
  z-index: 100;
}

.navMain{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}


.title-picture-wrapper{
  position: relative;
  overflow: hidden;
  transform: skewX(-30deg);
  padding:20px 20px;
  left: 40px;
  width: 100%;
  
}

.title-picture-wrapper h1{
  transform: skewX(30deg);
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .title-picture-wrapper h1{
    padding: 0 30px;

  }
}


